/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#/.yarn/cache
#/.pnp.*
lcov.info
/**/yarn.lock

/node_modules
/**/node_modules
/typechain-types
/cache
/artifacts
.DS_Store
coverage.json

# Contracts
contracts/.openzeppelin/unknown-*.json
contracts/docs/coverage
contracts/.env
contracts/deployments
lib/
abi/

/docs

clients/web/app/storybook-static

/**/dist/
packages/proto/src/gen/*

contracts/deployments/localhost/
contracts/cache
.eslintcache
cache_hardhat
artifacts_*
tsconfig.tsbuildinfo
broadcast/

*.pem

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Local .terraform directories
**/.terraform/*
out/
turbo-*.log

# profiling files
*.prof

**/coverage
**/.turbo
servers/workers/*/dist/*
core/xchain/bin/*
core/xchain/instance_*/*

.envrc
core/xchain/run_files/*
bin/gen-bindings-remove-struct
core/node/river_node
core/node/run_files/*

go.work.sum
core/local_stream_node_logs/dev.log
core/local_xchain_node_logs/dev.log

/packages/stress-testing/.env
