dev-dist
dist
node_modules
docs
storybook-static
.storybook

infra/*

servers/*
!servers/notification-service
!servers/workers
servers/workers/**/coverage/*
servers/workers/**/dist/*
servers/workers/**/.keys/*
core/**/gen/*
core/**/coverage/*
core/**/run_files/*
packages/**/gen/*
packages/**/coverage/*
packages/**/run_files/*
core/node/.mockery.yaml
core/node/auth/contracts/*.json
core/node/registries/contracts/*.json
packages/encryption-pkg/turbo.json
contracts/cache/*
contracts/deployments/*
contracts/addresses/*
contracts/lib/*
contracts/**/out/*
contracts/out/*
contracts/**/types/*
contracts/docgen/*
packages/contract/out
contracts/coverage/*
core/xchain/src/gen/*

broadcast/*
cache/*
lib/*
out/*

.yarn/*
.vscode
yarn.lock

packages/generated/*

packages/proto/src/protocol_*.ts
