# For running server in info mode ('info' command)
port: 4040
disableHttps: true

# Blockchain configuration
baseChain:
    chainId: 84532
    networkUrl: 'https://sepolia.base.org'
    blockTimeMs: 2000
riverChain:
    chainId: 6524490
    networkUrl: 'https://devnet.rpc.river.build'
    blockTimeMs: 2000

# Base contracts
architectContract:
    address: '0x968696BC59431Ef085441641f550C8e2Eaca8BEd'

# River contracts
registryContract:
    address: '0xf18E98D36A6bd1aDb52F776aCc191E69B491c070'

# Disable logging
log:
    file: ''
    level: info
    console: true
    noColor: false
    format: text
